.my_credentials*
__pycache__/
MyVenvFolder/
.stock_alert/logs/*

#Ignore because in obsidian vault
plan_overview.md
.stock_alert/cache
.stock_alert/configs/current_config.json
stock_alert/stock_monitor.log